# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Private Settings Files
fintrack/settings/development.py
fintrack/settings/production.py
fintrack/settings/secret_key.py