container_commands:
    collectstatic:
        command: "django-admin.py collectstatic --noinput"
    01_migrate:
        command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py migrate --noinput"
        leader_only: true

option_settings:
    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: fintrack.settings.production
        PYTHONPATH: "./src"
    aws:elasticbeanstalk:container:python:
        WSGIPath: fintrack.wsgi:application
    aws:elasticbeanstalk:environment:proxy:staticfiles:
        /static: static
