container_commands:
    01_migrate:
        command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py migrate --noinput"
        leader_only: true


option_settings:
    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: fintrack.settings.production
        PYTHONPATH: "./src"
    aws:elasticbeanstalk:container:python:
        WSGIPath: fintrack.wsgi:application
    aws:elasticbeanstalk:container:python:staticfiles
        option_name: /static/
        value: static/
