container_commands:
    01_migrate:
        command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py migrate --noinput"
        leader_only: true
    02_collectstatic:
        command: "python manage.py collectstatic --noinput"
    03_createsu:
        command: "python manage.py create_super_user"

option_settings:
    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: fintrack.settings.production
        PYTHONPATH: "./src"
    aws:elasticbeanstalk:container:python:
        WSGIPath: fintrack.wsgi:application
