{% autoescape off %}

Here is the celery tasks that have run today,
<table style="width:100%">
    <tr>
        <th>Task Time</th>
        <th>Task ID</th>
        <th>Task Name</th>
        <th>Task Status</th>
        <th>Task Result</th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{task.date_created}}</td>
        <td>{{task.task_id}}</td>
        <td>{{task.task_name}}</td>
        <td>{{task.status}}</td>
        <td>{{task.result}}</td>
    </tr>
    {% endfor %}
</table>

{% endautoescape %}
